---
export interface Props {
	lines: string[];
	colors?: string[];
	wrapperClass?: string;
	textClass?: string;
	blockClass?: string;
}

const {
	lines,
	colors = [],
	wrapperClass = "",
	textClass = "text-[10px] xs:text-xs sm:text-[13px] md:text-sm lg:text-base xl:text-lg",
	blockClass = "gap-1",
} = Astro.props;

const maxLineLength = Math.max(...lines.map((line) => line.length));
const paddedLines = lines.map((line) => line.padEnd(maxLineLength, ' '));
---


<div class={`font-mono whitespace-pre overflow-x-auto hide-scrollbar w-full flex justify-center ${wrapperClass}`}>
	<div class="inline-block min-w-fit">
		<div class={`inline-flex flex-col items-start ${blockClass} leading-none tracking-[0.08em] ${textClass}`} style={`width: ${maxLineLength}ch;`}>
			{paddedLines.map((line, index) => (
				<span class={`block w-full ${colors.length ? colors[index % colors.length] : ''}`}>{line}</span>
			))}
		</div>
	</div>
</div>